.widget-container {
    position: absolute;
    background-color: var(--widget-background-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    user-select: none;
    will-change: transform;
    padding: 15px;
    box-sizing: border-box;
    transition: box-shadow 0.2s ease;
    cursor:default;
}

.widget-container:hover {
    box-shadow: 0 4px 8px var(--widget-hover-shadow);
}

.options-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr)); /* Adjust '100px' to your minimum child width */
    grid-template-rows: auto; /* Adjust based on content */
    padding: 5px;
    background-color: #7e7e7e;
    border: 1px solid #535353;
    z-index: 100;
    overflow: hidden; /* Ensures content does not overflow the container */
    overflow-y: auto; /* Enables vertical scrolling */
}

.widget-contents {
    background-color: #555555;
    cursor: text;
    user-select: text;
    border: none;
    outline: none;
    resize: none;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.resize-handle {
    width: 12px;
    height: 12px;
    background-color: var(--resize-handle-color);
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    cursor: se-resize;
}

.modern-btn {
    background-color: var(--button-background-color);
    color: var(--text-color);
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
}

.modern-btn:hover {
    background-color: var(--button-hover-color);
}

.drag-handle {
    height: 20px;
    background: grey;
    cursor: move;
    text-align: center;
    color: white;
}

.delete-button {
    position: absolute;
    top: -15px;
    right: -13px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 30%;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hidden {
    display: none !important;
}