.CodeMirror-scroll {
    cursor: text;
}

.CodeMirror.cm-s-dracula{
    transform: scale(1) !important;
}

.language-selector, .file-name-input, .save-button{
    min-width: 3px; /* Minimum width */
    min-height: 3px; /* Minimum height, adjust as needed */
    padding: 5px;
    background-color: #f8f8f8;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    z-index: 100;
}

.widget-code-block {
    background-color: #555555;
    cursor: text;
    user-select: text;
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    height: 100%;
}

.save-button {
    background-color: #1e88e5;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
}

.file-name-input {
    padding: 5px;
    background-color: #f8f8f8;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin: 10px;
}

.language-selector {
    padding: 5px;
    background-color: #f8f8f8;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin: 10px;
}